@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-title: 'Fraunces', Georgia, 'Times New Roman', serif;
  --font-text: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;

  --dark-cyan: hsl(158, 36%, 37%);
  --dark-cyan-hover: hsl(158, 36%, 27%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  --primary-color: var(--dark-cyan);
  --primary-color-hover: var(--dark-cyan-hover);
  --secondary-color: var(--cream);

  --font-size-paragraph: 0.875rem;
  --font-size-title: 2rem;
  
  --font-weight-regular: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-text);
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-regular);
  color: var(--dark-grayish-blue);
  background-color: var(--secondary-color);
  padding: 2rem 1rem;
  min-width: 320px;
}
